<html>

<head>
  <meta http-equiv="Content-Language" content="en-us">
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title>LCG Conf. {{release.version}} Overview</title>
  {% include 'base.html' %}
</head>
<body>
  <div class="container">
    <div class="wrapper text-center">
      <h1 class="">
        LCG Software Elements
      </h1>
    </div>

    <div class="row">
      <hr/>
      <ol class="breadcrumb">
        <li>
          <a href="{% url 'relinfo.views.allreleases' %}">
            Main
          </a>
        </li>
        <li>
          LCG Configurations Diff ({{release1.version}} / {{release2.version}})
        </li>
      </ol>
      <hr/>
    </div>

    {% load extras %}
    <table class="table">
      <thead>
        <th></th>
        <th>
          <a href="{% url 'relinfo.views.release' release1.version %}">
            LCG Configuration
          </a>
          <select style="display: inline-block; width: 100px;" class="form-control" onchange="location = this.options[this.selectedIndex].value">
            {% for item in releases %}
              {% ifequal item.version release2.version %}
              {% else %}
                <option value="{% url 'relinfo.views.compare' item.version release2.version %}" {% ifequal release1.version item.version %} selected {% endifequal  %}>
                  {{item.version}}
                </option>
              {% endifequal %}
            {% endfor %}
          </select>
        </th>
        <th>
          <a onclick="goTo('')" href="{% url 'relinfo.views.release' release2.version %}">
            LCG Configuration
          </a>
          <select style="display: inline-block; width: 100px;" class="form-control" style="width: 100px;" onchange="location = this.options[this.selectedIndex].value">
            {% for item in releases %}
              {% ifequal item.version release1.version %}
              {% else %}
                <option value="{% url 'relinfo.views.compare' release1.version item.version %}" {% ifequal release2.version item.version %} selected {% endifequal  %}>
                  {{item.version}}
                </option>
              {% endifequal %}
            {% endfor %}
          </select>
        </th>
      </thead>
      {% for cat in categories %}
        <tr>
          <td colspan="3">
            <h3>
              {{ cat.1 }}
            </h3>
          </td>
        </tr>
        {% for tuple in packagesByCategory|arrayAccess:cat.0 %}
          <tr>
            <td>
              <a href="{% url 'relinfo.views.package' tuple.0 %}">
                {{ tuple.0 }}
              </a>
            </td>
            <td>
              {% if tuple.1 %}
                {% for tag in tuple.1 %}
                  <!-- Don't break the line. It is neccesary for formatting -->
                  <a href="{% url 'relinfo.views.tag' tuple.0 tag %}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
              {% endif %}
            </td>
            <td>
              {% if tuple.2 %}
                {% for tag in tuple.2 %}
                  <!-- Don't break the line. It is neccesary for formatting -->
                  <a href="{% url 'relinfo.views.tag' tuple.0 tag %}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
  </div>
</body>
</html>
