<html>

<head>
  <meta http-equiv="Content-Language" content="en-us">
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title> {{ package.fullname }} Overview</title>
  {% include 'base.html' %}
</head>

<body>
  <div class="container">
    <div class="wrapper text-center">
      <h1 class="">
        LCG Software Elements
      </h1>
    </div>

    <div class="row">
      <hr/>
      <ol class="breadcrumb">
        <li>
          <a href="{% url 'relinfo.views.allreleases' %}">
            Main
          </a>
        </li>
        <li>LCG Configuration {{release.version}}</li>
      </ol>
      <hr/>
    </div>

    <div class="row vcenter col-md-offset-2">
      <div class="col-md-2">
        <h4>
          Description:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        {{ package.description }}
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-2">
        <h4>
          Homepage:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <a {% if package.homepage %} href="{{ package.homepage }}" {% endif %}>
          {{ package.homepage }}
        </a>
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-2">
        <h4>
          Documentation:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        None
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-2">
        <h4>
          Category:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        {{ package.get_category_display }}
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-2">
        <h4>
          Language:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        {{ package.get_language_display }}
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-2">
        <h4>
          Releases:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1" style="margin-bottom: 10px; margin-top: 10px">
        {% for rel in releases %}
          <!-- Don't break the line. It is neccesary for formatting -->
          <b><a href="{% url 'relinfo.views.release' rel.version%}">{{rel.version}}</a></b>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-2">
        <h4>
          Versions:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1" style="margin-bottom: 10px; margin-top: 10px">
        {% for item in versions %}
          <!-- Don't break the line. It is neccesary for formatting -->
          <b><a href="{% url 'relinfo.views.tag' package.name item.name %}">{{ item.name }}</a></b>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-2">
        <h4>
          Contacts:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        {% for contact in package.contacts.all%}
          <!-- Don't break the line. It is neccesary for formatting -->
          <a href="mailto:{{ contact }}">{{ contact }}</a>{% if not forloop.last %},{% endif %}{% endfor %}
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-2">
        <h4>
          License:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        {{ package.license }}
      </div>
    </div>
  </div>
</body>
</html>
